<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTS 주식 페이지</title>
</head>
<body>
    <h1>예수금 입금 / 출금</h1>
    <form method="post" action="/input" id="input-form">
        <input type="number" name="Money" placeholder="입금할 금액">
        <input type="submit" value="Input">
    </form>
    <form method="post" action="/output" id="output-form">
        <input type="number" name="Money" placeholder="출금할 금액">
        <input type="submit" value="Output">
    </form>
</body>
</html>