<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTS 주식 페이지</title>
</head>
<body>
  <h1> HTS 홈페이지입니다. </h1>
  <p><%= sessionInfo.Name %>님 환영합니다.</p>
  <br>
  <div>
    <form method="post" action="/logout" id="logout-form">
      <input type="submit" value="Logout">
    </form>
    <a href = "/deleteAccount">회원 탈퇴</a>
  </div>
  <br>
  <br>
  <p>내 예수금: <%= sessionInfo.Balance %> 원</p>
  <br>
  <div>
    <a href = "/balanceInputOutput">예수금 입금 / 출금</a>
    &ensp;
    <a href = "/myStockList">보유 주식 현황</a>
    &ensp;
    <a href = "/myTransaction">주식 거래 내역</a>
  </div>
  <div>
    <a href = "/stockList">종목 목록</a>
    &ensp;
    <a href = "/stockSearch">종목 검색</a>
  </div>
</body>
</html>