<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <form method="post" action="/login" id="login-form">
        <input type="text" name="UserID" placeholder="ID">
        <input type="password" name="Password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <a href = "/login">로그인 페이지</a>
</body>
</html>