<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>종목 검색</title>
</head>
<body>
  <h1>종목 검색</h1>
  <form method="post" action="/stockSearch" id="stockSearch-form">
    <input type="text" name="StockName" placeholder="Stock Name">
    <input type="submit" value="Search">
  </form>
  <a href = "/home">홈으로 돌아가기</a>

</body>
</html>